body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inputBox {
   width: 100px;
}

table.pgOutput {
	width: 750px;
	border-collapse: collapse,
	margin:50px auto;
}

table.pgOutput tr:nth-of-type(odd) {
	background: #eee;
}

table.pgOutput tr:hover {
	background: #C8102E;
	color: white;
}

table.pgOutput th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

table.pgOutput td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
    font-size: 18px;
}

table.pgOutput tr.selected {
	background: #1a3278;
	color: white;
}

table.pgOutput tr.selected:hover {
	background: #266ebc;
	color: white;
}

.nvd3 .nv-axis.nv-x path.domain {
	stroke-opacity: 1;
}


.placeholder { text-align: center; padding: 40px 0 20px 0; font-size: 12px; }
#container {
    position: relative; width: 640px; height: 479px; background: #BFBFBF; display: inline-block; line-height: 479px; overflow: hidden;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEW/v7////+Zw/90AAAAEUlEQVQI12P4z8CAFWEX/Q8Afr8P8erzE9cAAAAASUVORK5CYII=);
    border: 1px solid black;
    box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
}
#label { line-height: 14px; padding-top: 5px; }
#placeholder { background: rgba(0, 0, 0, 0.8); border-radius: 30px; padding: 5px 17px; color: white; font-weight: bold; }
canvas { vertical-align: top; }

table { border-collapse: collapse; }
th, td { padding: 0; text-align: left; vertical-align: top; }
th { width: 100px; padding-right: 10px; }
.docs { margin-top: 20px; }
.docs td + td { padding-left: 20px; }

.nub {
    position: absolute;
    width: 6px;
    height: 6px;
    margin: -5px;
    background: #3F9FFF;
    background: -moz-linear-gradient(#7FBFFF, #007FFF);
    background: -webkit-gradient(linear, left top, left bottom, from(#7FBFFF), to(#007FFF));
    border: 2px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: move;
}
#nubs { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.ui-slider {
    position: relative;
    width: 300px;
    height: 3px;
    background: #3F3F3F;
    margin-top: 8px;
}

.ui-slider-handle {
    cursor: default;
    position: absolute;
    width: 12px;
    height: 12px;
    background: #DFDFDF;
    background: -moz-linear-gradient(#EFEFEF, #BFBFBF);
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#BFBFBF));
    border: 1px solid #3F3F3F;
    margin: -5px 0 0 -7px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.ui-state-active { background: white; }
.ui-state-focus { outline: none; }




